header .left img{
    width: 120px;
    height: 40px;
    margin: 30px 10px 5px 250px;
}

header .right{
    list-style: none;
    float: right;
}

#mainvisual img{
    width: 100%;
}

h2{
    text-align: center;
    margin: 50px;
}

h2 span{
 padding-bottom: 5px;
 border-bottom: 1px solid #000;
 font-size: 30px;
}

#about .aboutl img{
    width: 100px;
    height: 100px;
    float: left;
}

#about .aboutr h3{
    float: left;
}

#about .aboutr p{
    float: left;
}

#about {
    text-align: center;
}


#bicycle ul li{
    float: left;
    text-align: center;
}


#bicycle ul li img{
    width: 350px;
    height: 250px;
    margin: 10px;
}





footer{
    text-align: center;
}
